# Ignore external libraries from language stats (Bootstrap, jQuery, etc.)
Vion.Web/wwwroot/lib/** linguist-vendored

# Ensure our custom assets are counted
Vion.Web/wwwroot/css/** linguist-detectable=true
Vion.Web/wwwroot/js/** linguist-detectable=true
Vion.Web/Views/** linguist-detectable=true
