@model Vion.Web.Models.LoginVm

<h2>Entrar</h2>

<form method="post">
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Senha</label>
        <input asp-for="Senha" class="form-control" type="password" />
    </div>

    <button class="btn btn-success">Entrar</button>
</form>
