@{
    ViewData["Title"] = "Home";
}
<section class="text-center py-5">
    <h1 class="display-4 fw-bold">VION</h1>
    <p class="lead">Seu estilo começa aqui. Camisas • Tênis • Moletons</p>
    <a class="btn btn-outline-light btn-lg" href="/Home/Catalog">Explorar produtos</a>
</section>
